.rightTooltip {
  position: relative;
}
.rightTooltip:hover span {
  display: inline;
}
.rightTooltip button {
  padding: 30px 30px;
  font-size: 16px;
}
.rightTooltip span {
  display: none;
  position: absolute;
  top: 20px;
  left: 160px;
  color: #000000;
  background-color: #c094b4;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 6px;
}
.BottomTooltip {
  position: relative;
  top: 100px;
}
.BottomTooltip:hover span {
  display: inline;
}
.BottomTooltip button {
  font-size: 16px;
}
.BottomTooltip span {
  display: none;
  position: absolute;
  top: 30px;
  left: 20px;
  color: #000000;
  background-color: #c094b4;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 6px;
}
